{% extends "layout.html" %}

{% set listManage = true %}
{% set title = "What type of facility do you want the permit for?" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "includes/phase_banner_beta.html" %}


  {{ govukBackLink({
    text: "Back",
    href: "/facility-type"
  }) }}
{% endblock %}



{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<h1 class="govuk-heading-xl">Add another activity or continue</h1>

      <form class="form" action="/types-of-waste" method="post">


        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              <h2 class="govuk-heading-m">Facility type</h2>
            </dt>
            <dd class="govuk-summary-list__value">
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> facility type</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              {{ data['type-facility'] }}
            </dt>
            <dd class="govuk-summary-list__value">
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
          </dl>

          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                <h2 class="govuk-heading-m">Activities</h2>
              </dt>
              <dd class="govuk-summary-list__value">
              </dd>
              <dd class="govuk-summary-list__actions">
              <!--  <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> activity</span>
                </a> -->
              </dd>
            </div>
            {% for i in data['waste-activities'] %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                {{ [i]}}
              </dt>
              <dd class="govuk-summary-list__value">
              </dd>
              <dd class="govuk-summary-list__actions">
                <!--    <input type="hidden" class="govuk-input" id="filetodelete" name="filetodelete" type="text" value="{{i}}"> -->
                <a href="#"  onclick="delete_element('{{i}}')" class="govuk-link" href="">Remove<span class="govuk-visually-hidden">{{[i]}}</span>
                </a>
              </dd>
            </div>
                {% endfor %}


            </dl>


{% set anotherActivityHtml %}
{{ govukCheckboxes({
idPrefix: "waste-activities-another",
name: "waste-activities-another",
fieldset: {
legend: {
  text: "",
  isPageHeading: false,
  classes: "govuk-fieldset__legend--xl"
}
},
items: [
{
  value: "Biological treatment of waste - not composting",
  text: "Biological treatment of waste - not composting",
  checked: checked("waste-activities", "activities")
},
{
  value: "Chemical treatment of waste",
  text: "Chemical treatment of waste",
  checked: checked("waste-activities", "activities")
},
{
  value: "Clinical waste transfer station",
  text: "Clinical waste transfer station",
  checked: checked("waste-activities", "activities")
},
{
  value: "Composting facility",
  text: "Composting facility",
  checked: checked("waste-activities", "activities")
},
{
  value: "Hazardous waste transfer station",
  text: "Hazardous waste transfer station",
  checked: checked("waste-activities", "activities")
},
{
  value: "Household waste amenity site taking hazardous waste",
  text: "Household waste amenity site taking hazardous waste",
  checked: checked("waste-activities", "activities")
},
{
  value: "Household waste amenity site taking non-hazardous waste only",
  text: "Household waste amenity site taking non-hazardous waste only",
  checked: checked("waste-activities", "activities")
},
{
  value: "Household, commercial and industrial waste transfer station",
  text: "Household, commercial and industrial waste transfer station",
  checked: checked("waste-activities", "activities")
},
{
  value: "Material recycling facility",
  text: "Material recycling facility",
  checked: checked("waste-activities", "activities")
},
{
  value: "Metal recycling site - mixed metals",
  text: "Metal recycling site - mixed metals",
  checked: checked("waste-activities", "activities")
},
{
  value: "Mobile plant – treatment of waste - not land spreading",
  text: "Mobile plant – treatment of waste - not land spreading",
  checked: checked("waste-activities", "activities")
},
{
  value: "Physical and chemical treatment of waste",
  text: "Physical and chemical treatment of waste",
  checked: checked("waste-activities", "activities")
},
{
  value: "Physical treatment of hazardous waste",
  text: "Physical treatment of hazardous waste",
  checked: checked("waste-activities", "activities")
},
{
  value: "Transfer station taking nonbiodegradable wastes",
  text: "Transfer station taking nonbiodegradable wastes",
  checked: checked("waste-activities", "activities")
},
{
  value: "Vehicle dismantling - metal recycling site",
  text: "Vehicle dismantling - metal recycling site",
  checked: checked("waste-activities", "activities")
}
]
}) }}
{% endset -%}


{{ govukCheckboxes({
idPrefix: "another-activity",
name: "another-activity",
fieldset: {
legend: {
text: "",
isPageHeading: false,
classes: "govuk-fieldset__legend--xl"
}
},

items: [
{
value: "true",
text: "Add another activity",
conditional: {
html: anotherActivityHtml
}
}
]
}) }}

<br>

      {{ govukButton({
        text: "Continue"
      }) }}

      </form>


{% endblock %}
