{% extends "layout.html" %}

{% set title = "What type of facility do you want the permit for?" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "includes/phase_banner_beta.html" %}


  {{ govukBackLink({
    text: "Back",
    href: "/types-of-waste"
  }) }}
{% endblock %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



      <form class="form" action="/confirm-activities-assessments" method="post">





          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                  What assessments are needed for your application?
                </h1>
              </legend>
              <table class="govuk-table">
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header govuk-!-width-three-quarters">{{data['type-facility']}}</th>
                    <!--<td class="govuk-table__cell">{{data['type-facility']}}</td>-->
                    <td class="govuk-table__cell govuk-!-width-one-quarter govuk-table__header--numeric"><a href="/facility-type" class="govuk-link" href="">Change<span class="govuk-visually-hidden">{{data["type-facility"]}}</span></td>
                  </tr>
                  {% for i in data['waste-activities'] %}
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">{{[i]}}</th>
                    <!--<td class="govuk-table__cell"></td>-->
                    <td class="govuk-table__cell govuk-table__header--numeric"><a href="/activities-summary" class="govuk-link" href="">Change<span class="govuk-visually-hidden">{{data["type-facility"]}}</span></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>

              <p class="govuk-body">These are identified by your risk assessment and our pre-application team.</p>
              {% set wasteActivities = data['waste-activities'] %}
              {% if (wasteActivities.indexOf("Hazardous waste transfer station") > -1) or (wasteActivities.indexOf("Clinical waste transfer station") > -1)%}
                 <p class="govuk-body">Based on the activities you have selected, you are required to complete the following assessments:</p>
             {% endif %}

              {% if (wasteActivities.indexOf("Hazardous waste transfer station") > -1)%}
              <p class="govuk-body govuk-!-font-weight-bold">Dust and emissions management plan</p>
              {% endif %}

              {% if (wasteActivities.indexOf("Clinical waste transfer station") > -1)%}
              <p class="govuk-body govuk-!-font-weight-bold">Habitats assessment</p>
              {% endif %}

              <span id="waste-hint" class="govuk-hint">
                Select any others that apply.
              </span>

              <div class="govuk-checkboxes">
                {% if (wasteActivities.indexOf("Hazardous waste transfer station") == -1)%}
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste" name="waste-assessments" type="checkbox" value="Dust and emissions management plan">
                  <label class="govuk-label govuk-checkboxes__label" for="waste">
                    Dust and emissions management plan
                  </label>
                </div>
                {% endif %}

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste-2" name="waste-assessments" type="checkbox" value="Fire prevention plan">
                  <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                    Fire prevention plan
                  </label>
                </div>

                {% if (wasteActivities.indexOf("Clinical waste transfer station") == -1)%}
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste-3" name="waste-assessments" type="checkbox" value="Habitats assessment">
                  <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                    Habitats assessment
                  </label>
                </div>
                {% endif %}

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste-4" name="waste-assessments" type="checkbox" value="Noise and vibration emissions documents">
                  <label class="govuk-label govuk-checkboxes__label" for="waste-4">
                    Noise and vibration emissions documents
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste-5" name="waste-assessments" type="checkbox" value="Odour management plan">
                  <label class="govuk-label govuk-checkboxes__label" for="waste-5">
                    Odour management plan
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste-6" name="waste-assessments" type="checkbox" value="Pest management plan">
                  <label class="govuk-label govuk-checkboxes__label" for="waste-6">
                    Pest management plan
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste-7" name="waste-assessments" type="checkbox" value="Waste recovery plan">
                  <label class="govuk-label govuk-checkboxes__label" for="waste-7">
                    Waste recovery plan
                  </label>
                </div>
              </div>
            </fieldset>
          </div>


    <p class="govuk-body">Not sure? Call our helpline on 03708 506 506</p>

      {{ govukButton({
        text: "Continue"
      }) }}
      </form>

{% endblock %}
