{% extends "layout.html" %}

{% set title = "What type of facility do you want the permit for?" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "includes/phase_banner_beta.html" %}


  {{ govukBackLink({
    text: "Back",
    href: "/activities-summary"
  }) }}
{% endblock %}



{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



      <form class="form" action="/add-assessments" method="post">

           <div class="govuk-form-group">
             <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
               <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                 <h1 class="govuk-fieldset__heading">
                   Which types of waste do you transport?
                 </h1>
               </legend>

               <table class="govuk-table">
                 <tbody class="govuk-table__body">
                   <tr class="govuk-table__row">
                     <th scope="row" class="govuk-table__header govuk-!-width-three-quarters">{{data['type-facility']}}</th>
                     <!--<td class="govuk-table__cell">{{data['type-facility']}}</td>-->
                     <td class="govuk-table__cell govuk-!-width-one-quarter govuk-table__header--numeric"><a href="/facility-type" class="govuk-link" href="">Change<span class="govuk-visually-hidden">{{data["type-facility"]}}</span></td>
                   </tr>
                   {% for i in data['waste-activities'] %}
                   <tr class="govuk-table__row">
                     <th scope="row" class="govuk-table__header">{{[i]}}</th>
                     <!--<td class="govuk-table__cell"></td>-->
                     <td class="govuk-table__cell govuk-table__header--numeric"><a href="/activities-summary" class="govuk-link" href="">Change<span class="govuk-visually-hidden">{{data["type-facility"]}}</span></td>
                   </tr>
                   {% endfor %}
                 </tbody>
               </table>

               {% set wasteActivities = data['waste-activities'] %}
              {% if (wasteActivities.indexOf("Hazardous waste transfer station") > -1) or (wasteActivities.indexOf("Clinical waste transfer station") > -1)%}
               <p class="govuk-body">Based on the activities you have selected you accept the following:</p>
               {% endif %}
               {% if (wasteActivities.indexOf("Hazardous waste transfer station") > -1)%}
               <p class="govuk-body govuk-!-font-weight-bold">Hazardous Waste</p>
               {% endif %}
               {% if (wasteActivities.indexOf("Clinical waste transfer station") > -1)%}
               <p class="govuk-body govuk-!-font-weight-bold">Clinical Waste</p>
               {% endif %}
               <span id="waste-hint" class="govuk-hint">
                 Select any others that apply
               </span>
               <div class="govuk-checkboxes">
                 {% if (wasteActivities.indexOf("Hazardous waste transfer station") == -1)%}
                 <div class="govuk-checkboxes__item">
                   <input class="govuk-checkboxes__input" id="waste" name="hazardous-waste" type="checkbox" value="hazardous-waste">
                   <label class="govuk-label govuk-checkboxes__label" for="waste">
                     Hazardous waste
                   </label>
                 </div>
                 {% endif %}
                 {% if (wasteActivities.indexOf("Clinical waste transfer station") == -1)%}
                 <div class="govuk-checkboxes__item">
                   <input class="govuk-checkboxes__input" id="waste-2" name="clinical-waste" type="checkbox" value="clinical-waste">
                   <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                     Clinical waste
                   </label>
                 </div>
                 {% endif %}
                 <div class="govuk-checkboxes__item">
                   <input class="govuk-checkboxes__input" id="waste-3" name="combustible-waste" type="checkbox" value="combustible-waste">
                   <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                     Combustible waste
                   </label>
                 </div>
               </div>
             </fieldset>
           </div>


      {{ govukButton({
        text: "Continue"
      }) }}


      </form>

{% endblock %}
