{% extends "layout.html" %}

{% set title = "What assessments are needed for your permit?" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "includes/phase_banner_beta.html" %}


  {{ govukBackLink({
    text: "Back",
    href: "/sandbox/types-of-waste"
  }) }}
{% endblock %}



{% block content %}




<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <form method="post" autocomplete="off" novalidate >

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                  What assessments are needed for your permit?
                </h1>
              </legend>

              <p class="govuk-body">These are identified by your risk assessment and our pre-application team.</p>
              {% set wasteActivities = allactivities %}
              {% set wasteType = data['waste-type'] or []%}
              {% if 'combustible-waste' in wasteType or
                'Household waste amenity site taking hazardous waste' in wasteActivities or
                'Household waste amenity site taking non-hazardous waste only' in wasteActivities or
                'Household, commercial and industrial waste transfer station' in wasteActivities or
                'Biological treatment of waste - not composting' in wasteActivities or
                'Composting facility' in wasteActivities
              %}
                 <p class="govuk-body">Based on the activities you've selected, you're required to complete the following assessments:</p>
                 <ul class="govuk-list govuk-list--bullet">
              {% endif %}

              {% if 'combustible-waste' in wasteType or
                'Household waste amenity site taking hazardous waste' in wasteActivities or
                'Household waste amenity site taking non-hazardous waste only' in wasteActivities or
                'Household, commercial and industrial waste transfer station' in wasteActivities
                %}
              <li><p class="govuk-body govuk-!-font-weight-bold">Fire prevention plan</p></li>
              {% endif %}

              {% if 'Household waste amenity site taking hazardous waste'in wasteActivities or
              'Biological treatment of waste - not composting' in wasteActivities or
              'Composting facility' in wasteActivities or
              'Household waste amenity site taking non-hazardous waste only' in wasteActivities or
              'Household, commercial and industrial waste transfer station' in wasteActivities
               %}
               <li><p class="govuk-body govuk-!-font-weight-bold">Odour management plan</p></li>
              {% endif %}

              {% if 'combustible-waste' in wasteType or
                'Household waste amenity site taking hazardous waste' in wasteActivities or
                'Household waste amenity site taking non-hazardous waste only' in wasteActivities or
                'Household, commercial and industrial waste transfer station' in wasteActivities or
                'Biological treatment of waste - not composting' in wasteActivities or
                'Composting facility' in wasteActivities
              %}
              </ul>
              <span id="waste-hint" class="govuk-hint">
                Select any other assessments that apply to your permit
              </span>
              {% else %}
              <span id="waste-hint" class="govuk-hint">
                Select any that apply
              </span>
              {% endif%}
              <div class="govuk-checkboxes">

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste" name="waste-assessments" type="checkbox" value="Dust and emissions management plan">
                  <label class="govuk-label govuk-checkboxes__label" for="waste">
                    Dust and emissions management plan
                  </label>
                </div>

              {% if 'combustible-waste' in wasteType or
                  'Household waste amenity site taking hazardous waste' in wasteActivities or
                  'Household waste amenity site taking non-hazardous waste only' in wasteActivities or
                  'Household, commercial and industrial waste transfer station' in wasteActivities
                  %}{% else %}
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste-2" name="waste-assessments" type="checkbox" value="Fire prevention plan">
                  <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                    Fire prevention plan
                  </label>
                </div>
                {% endif %}

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste-3" name="waste-assessments" type="checkbox" value="Habitats assessment">
                  <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                    Habitats assessment
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste-4" name="waste-assessments" type="checkbox" value="Noise and vibration emissions documents">
                  <label class="govuk-label govuk-checkboxes__label" for="waste-4">
                    Noise and vibration emissions documents
                  </label>
                </div>

                {% if 'Household waste amenity site taking hazardous waste'in wasteActivities or
                'Biological treatment of waste - not composting' in wasteActivities or
                'Composting facility' in wasteActivities or
                'Household waste amenity site taking non-hazardous waste only' in wasteActivities or
                'Household, commercial and industrial waste transfer station' in wasteActivities
                 %}{% else %}
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste-5" name="waste-assessments" type="checkbox" value="Odour management plan">
                  <label class="govuk-label govuk-checkboxes__label" for="waste-5">
                    Odour management plan
                  </label>
                </div>
                {% endif %}

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste-6" name="waste-assessments" type="checkbox" value="Pest management plan">
                  <label class="govuk-label govuk-checkboxes__label" for="waste-6">
                    Pest management plan
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste-7" name="waste-assessments" type="checkbox" value="Waste recovery plan">
                  <label class="govuk-label govuk-checkboxes__label" for="waste-7">
                    Waste recovery plan
                  </label>
                </div>

                <p class="govuk-body govuk-!-font-weight-bold">or</p>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste-8" name="waste-type" type="checkbox" value="no-other">
                  <label class="govuk-label govuk-checkboxes__label" for="waste-8">
                    None of the above
                  </label>
                </div>
              </div>
            </fieldset>
          </div>


    <p class="govuk-body">Not sure? Call our helpline on 03708 506 506</p>

      {{ govukButton({
        text: "Continue"
      }) }}
      </form>

    </div>
        <div class="govuk-grid-column-one-third">

          <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

          <aside class="app-related-items" role="complementary">
            <h2 class="govuk-heading-m" id="subsection-title">
              Activities
            </h2>
            <nav role="navigation" aria-labelledby="subsection-title">
              <ul class="govuk-list govuk-!-font-size-16">
                  {% for i in allactivities %}
                  <li>{{[i]}}</li>

                  {% endfor %}
              </ul>
            </nav>
          </aside>

        </div>
        </div>

{% endblock %}
