{% extends "layout.html" %}

{% set title = "Confirm activities and assessments" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "includes/phase_banner_beta.html" %}


  {{ govukBackLink({
    text: "Back",
    href: "/sanbox/add-assessments"
  }) }}
{% endblock %}



{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<h1 class="govuk-heading-xl">Confirm activities and assessments</h1>


      <form method="post" autocomplete="off" novalidate >

        <table class="govuk-table">
          <caption class="govuk-table__caption"><h2 class="govuk-heading-m">Facility<a style="float:right;" class="govuk-link govuk-caption-m" href="/sanbox/facility-type">
            Change<span class="govuk-visually-hidden"> facility</span>
          </a></h2></caption>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">{{ data['type-facility'] }}</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">£xxxx</td>
            </tr>
          </tbody>
        </table>
<br>
        <table class="govuk-table">
          <caption class="govuk-table__caption"><h2 class="govuk-heading-m">Activities<a style="float:right;" class="govuk-link govuk-caption-m" href="/sanbox/activities">
            Change<span class="govuk-visually-hidden"> activities</span>
          </a></h2></caption>
          <tbody class="govuk-table__body">
            {% for i in allactivities %}
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">{{ [i] }}</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">£xxxx</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
<br>
        <table class="govuk-table">
          <caption class="govuk-table__caption"><h2 class="govuk-heading-m">Assessments<a style="float:right;" class="govuk-link govuk-caption-m" href="/sanbox/add-assessments">
            Change<span class="govuk-visually-hidden"> assessments</span>
          </a></h2></caption>
          <tbody class="govuk-table__body">
            {% for i in allassessments %}
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">{{ [i] }}</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">£xxxx</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

<br>
              <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    <h2 class="govuk-heading-m">Total</h2>
                  </dt>
                  <dd class="govuk-summary-list__value">
                  </dd>
                  <dd class="govuk-summary-list__actions">
                  <p  class="govuk-body govuk-!-font-weight-bold">£xxxx</p>
                  </dd>
                </div>
                </dl>

            <p class="govuk-body">You must pay these charges before we will start assessing your application. You do not pay VAT on these costs.</p>



      {{ govukButton({
        text: "Start application"
      }) }}
      </form>

{% endblock %}
