{% extends "layout.html" %}

{% set title = "Do you accept any of these types of waste?" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "includes/phase_banner_beta.html" %}


  {{ govukBackLink({
    text: "Back",
    href: "/sandbox/activities"
  }) }}
{% endblock %}



{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <form method="post" autocomplete="off" novalidate >

           <div class="govuk-form-group">
             <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
               <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                 <h1 class="govuk-fieldset__heading">
                   Do you accept any of these types of waste?
                 </h1>
               </legend>

               {% set wasteActivities = allactivities %}
               {% if 'Hazardous waste transfer station' in wasteActivities or
               'Household waste amenity site taking hazardous waste' in wasteActivities or
               'Physical treatment of hazardous waste' in wasteActivities or
               'Clinical waste transfer station' in wasteActivities
               %}
               <p class="govuk-body">Based on the activities you've selected, you accept the following types of waste:</p>
               <ul class="govuk-list govuk-list--bullet">
               {% endif %}

               {% if 'Clinical waste transfer station' in wasteActivities %}
               <li><p class="govuk-body govuk-!-font-weight-bold">Clinical Waste</p></li>
               {% endif %}

               {% if 'Hazardous waste transfer station' in wasteActivities or
               'Household waste amenity site taking hazardous waste' in wasteActivities or
               'Physical treatment of hazardous waste' in wasteActivities %}
               <li><p class="govuk-body govuk-!-font-weight-bold">Hazardous Waste</p></li>
               {% endif %}

               {% set wasteActivities = allactivities %}
               {% if 'Hazardous waste transfer station' in wasteActivities or
               'Household waste amenity site taking hazardous waste' in wasteActivities or
               'Physical treatment of hazardous waste' in wasteActivities or
               'Clinical waste transfer station' in wasteActivities
               %}
               </ul>
               <span id="waste-hint" class="govuk-hint">
                 Select any other types of waste that you accept
               </span>
               {% else %}
               <span id="waste-hint" class="govuk-hint">
                 Select the types of waste that you accept
               </span>
               {% endif %}

               <div class="govuk-checkboxes">

                 {% if 'Clinical waste transfer station' not in wasteActivities %}
                 <div class="govuk-checkboxes__item">
                   <input class="govuk-checkboxes__input" id="waste-2" name="waste-type" type="checkbox" value="clinical-waste">
                   <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                     Clinical waste
                   </label>
                 </div>
                 {% endif %}

                 <div class="govuk-checkboxes__item">
                   <input class="govuk-checkboxes__input" id="waste-3" name="waste-type" type="checkbox" value="combustible-waste">
                   <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                     Combustible waste
                   </label>
                 </div>

                 {% if 'Hazardous waste transfer station'in wasteActivities or
                 'Household waste amenity site taking hazardous waste' in wasteActivities or
                 'Physical treatment of hazardous waste' in wasteActivities %}
                 {% else %}
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="waste" name="waste-type" type="checkbox" value="hazardous-waste">
                    <label class="govuk-label govuk-checkboxes__label" for="waste">
                      Hazardous waste
                    </label>
                  </div>
                {% endif %}

                 <p class="govuk-body govuk-!-font-weight-bold">or</p>
                 <div class="govuk-checkboxes__item">
                   <input class="govuk-checkboxes__input" id="waste-4" name="waste-type" type="checkbox" value="no-other">
                   <label class="govuk-label govuk-checkboxes__label" for="waste-4">
                     None of the above
                   </label>
                 </div>
               </div>
             </fieldset>
           </div>


      {{ govukButton({
        text: "Continue"
      }) }}


      </form>
  </div>
      <div class="govuk-grid-column-one-third">

        <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

        <aside class="app-related-items" role="complementary">
          <h2 class="govuk-heading-m" id="subsection-title">
            Activities
          </h2>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list govuk-!-font-size-16">
                {% for i in allactivities %}
                <li>{{[i]}}</li>

                {% endfor %}
            </ul>
          </nav>
        </aside>

      </div>
      </div>



{% endblock %}
