{% extends "layout.html" %}

{% set title = "Confirm activities and assessments" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "includes/phase_banner_beta.html" %}


  {{ govukBackLink({
    text: "Back",
    href: "/add-assessments"
  }) }}
{% endblock %}



{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<h1 class="govuk-heading-xl">Confirm activities and assessments</h1>


      <form method="post" autocomplete="off" novalidate >



        <table class="responsive-table govuk-table"  role="grid">
    <!--  <caption class="heading-medium govuk-table__caption">Application charges</caption> -->
        <thead class="govuk-table__header">
          <tr role="row">
            <th scope="col" class="govuk-table__header">Facility</th>
            <td scope="col" class="govuk-table__cell govuk-table__cell--numeric"><a href="/facility-type">
              Change<span class="govuk-visually-hidden"> facility</span>
            </a></td>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr role="row">
            <td role="gridcell" class="govuk-table__cell govuk-table__cell--numeric"><span class="table-heading"  aria-hidden="true">Facility</span>{{ data['type-facility'] }}</td>
            <td role="gridcell" class="govuk-table__cell govuk-table__cell--numeric numeric"><span class="table-heading govuk-table__cell--numeric" aria-hidden="true">Charge</span>£xxxx</td>
          </tr>

        </tbody>
</table>
<table class="responsive-table govuk-table"  role="grid">

        <thead class="govuk-table__header">
          <tr role="row">
            <th scope="col" class="govuk-table__header">Activities</th>
            <td scope="col" class="govuk-table__cell govuk-table__cell--numeric"><a href="/activities">
              Change<span class="govuk-visually-hidden"> activities</span>
            </a></td>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% for i in allactivities %}
          <tr role="row">
            <td role="gridcell" class="govuk-table__cell govuk-table__cell--numeric"><span class="table-heading"  aria-hidden="true">Activity</span>{{ [i] }}</td>
            <td role="gridcell" class="govuk-table__cell govuk-table__cell--numeric numeric"><span class="table-heading govuk-table__cell--numeric" aria-hidden="true">Charge</span>£xxxx</td>
          </tr>
          {% endfor %}
        </tbody>

      </table>
      <table class="responsive-table govuk-table"  role="grid">


            <thead class="govuk-table__header">
              <tr role="row">
                <th scope="col" class="govuk-table__header">Assessments</th>
                <td scope="col" class="govuk-table__cell govuk-table__cell--numeric"><a href="/add-assessments">
                  Change<span class="govuk-visually-hidden"> assessments</span>
                </a></td>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              {% for i in allassessments %}
              <tr role="row">
                <td role="gridcell" class="govuk-table__cell govuk-table__cell--numeric"><span class="table-heading"  aria-hidden="true">Assessment</span>{{ [i] }}</td>
                <td role="gridcell" class="govuk-table__cell govuk-table__cell--numeric numeric"><span class="table-heading govuk-table__cell--numeric" aria-hidden="true">Charge</span>£xxxx</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

          <div class="table-foot govuk-!-font-weight-bold govuk-body">
        <span class="table-total">Total</span>
        <span class="total-value">£xxxx</span>
        </div>

  <p class="govuk-body">You must pay these charges before we will start assessing your application. You do not pay VAT on these costs.</p>
      {{ govukButton({
        text: "Start application"
      }) }}
      </form>

{% endblock %}
