
{% extends "layout.html" %}

{% block pageTitle %}
  Waste bespoke traige process - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        The GOV.UK Prototype Kit
        <span class="govuk-caption-xl">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}

      <h2 class="govuk-heading-m"></h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/facility-type">v0.1 - Waste bespoke triage</a></li>
        <li><a href="/sandbox/facility-type">Sandbox</a></li>
      </ul>
    </div>
</div>

{% endblock %}
