{% extends "layout.html" %}

{% set title = "What type of facility do you want the permit for?" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "includes/phase_banner_beta.html" %}


  {{ govukBackLink({
    text: "Back",
    href: "/activities-summary"
  }) }}
{% endblock %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<h1 class="govuk-heading-xl">Do you accept any of these types of waste?</h1>


      <form class="form" action="/add-assessments" method="post">



        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              <h2 class="govuk-heading-m">Facility type</h2>
            </dt>
            <dd class="govuk-summary-list__value">
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> facility type</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              {{ data['type-facility'] }}
            </dt>
            <dd class="govuk-summary-list__value">
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
          </dl>

          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                <h2 class="govuk-heading-m">Activities</h2>
              </dt>
              <dd class="govuk-summary-list__value">
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> activity</span>
                </a>
              </dd>
            </div>
            {% for i in data['waste-activities'] %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                {{ [i]}}
              </dt>
              <dd class="govuk-summary-list__value">
              </dd>
              <dd class="govuk-summary-list__actions">
              </dd>
            </div>
                {% endfor %}
            </dl>

           {{ govukDetails({
             summaryText: "Read the guidance to ensure you select the correct types of waste:",
             html: '<ul class="govuk-list govuk-list--bullet"><li><a href="#">Clinical waste (opens new tab)</a></li><li><a href="#">Combustible waste (opens new tab)</a></li><li><a href="#">Hazardous waste (opens new tab)"</a></li>'
           }) }}

           <p class="govuk-body">Based on the activities you have selected you accept the following:</p>

        {{ govukCheckboxes({
      idPrefix: "types-of-waste",
      name: "types-of-waste",
      fieldset: {
        legend: {
          text: "",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--xl"
        }
      },
      hint: {
        text: "Select all that apply."
      },
      items: [
        {
          value: "hazardous-waste",
          text: "Hazardous waste"
        },
        {
          value: "clinical-waste",
          text: "Clinical waste"
        },
        {
          value: "combustible-waste",
          text: "Combustible waste"
        }
      ]
    }) }}


      {{ govukButton({
        text: "Continue"
      }) }}
      </form>

{% endblock %}
