{% extends "layout.html" %}

{% set title = "What type of facility do you want the permit for?" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "includes/phase_banner_beta.html" %}


  {{ govukBackLink({
    text: "Back",
    href: "/activities"
  }) }}
{% endblock %}



{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <form method="post" autocomplete="off" novalidate >
    
           <div class="govuk-form-group">
             <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
               <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                 <h1 class="govuk-fieldset__heading">
                   Do you accept any of these types of waste?
                 </h1>
               </legend>

               <table class="govuk-table">
                 <tbody class="govuk-table__body">
                   <tr class="govuk-table__row">
                     <th scope="row" class="govuk-table__header">Facility</th>
                     <td class="govuk-table__cell">{{data['type-facility']}}</td>
                     <td class="govuk-table__cell"><a href="/facility-type" class="govuk-link" href="">Change<span class="govuk-visually-hidden">{{data["type-facility"]}}</span></td>
                   </tr>
                   {% for i in allactivities %}
                   <tr class="govuk-table__row">
                     <th scope="row" class="govuk-table__header">Activity {{loop.index}}</th>
                     <td class="govuk-table__cell">{{[i]}}</td>
                     <td class="govuk-table__cell"><a href="/activities" class="govuk-link" href="">Change<span class="govuk-visually-hidden">{{data["type-facility"]}}</span></td>
                   </tr>
                   {% endfor %}
                 </tbody>
               </table>

               {% set wasteActivities = allactivities %}
               {% if 'Hazardous waste transfer station' in wasteActivities or
               'Household waste amenity site taking hazardous waste' in wasteActivities or
               'Physical treatment of hazardous waste' in wasteActivities or
               'Clinical waste transfer station' in wasteActivities
               %}
               <p class="govuk-body">Based on the activities you have selected you accept the following:</p>
               {% endif %}

               {% if 'Hazardous waste transfer station' in wasteActivities or
               'Household waste amenity site taking hazardous waste' in wasteActivities or
               'Physical treatment of hazardous waste' in wasteActivities %}
               <p class="govuk-body govuk-!-font-weight-bold">Hazardous Waste</p>
               {% endif %}

               {% if 'Clinical waste transfer station' in wasteActivities %}
               <p class="govuk-body govuk-!-font-weight-bold">Clinical Waste</p>
               {% endif %}

               <span id="waste-hint" class="govuk-hint">
                 Select any others that apply
               </span>
               <div class="govuk-checkboxes">

                  {% if 'Hazardous waste transfer station'in wasteActivities or
                  'Household waste amenity site taking hazardous waste' in wasteActivities or
                  'Physical treatment of hazardous waste' in wasteActivities %}
                  {% else %}
                   <div class="govuk-checkboxes__item">
                     <input class="govuk-checkboxes__input" id="waste" name="waste-type" type="checkbox" value="hazardous-waste">
                     <label class="govuk-label govuk-checkboxes__label" for="waste">
                       Hazardous waste
                     </label>
                   </div>
                 {% endif %}

                 {% if 'Clinical waste transfer station' not in wasteActivities %}
                 <div class="govuk-checkboxes__item">
                   <input class="govuk-checkboxes__input" id="waste-2" name="waste-type" type="checkbox" value="clinical-waste">
                   <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                     Clinical waste
                   </label>
                 </div>
                 {% endif %}

                 <div class="govuk-checkboxes__item">
                   <input class="govuk-checkboxes__input" id="waste-3" name="waste-type" type="checkbox" value="combustible-waste">
                   <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                     Combustible waste
                   </label>
                 </div>
               </div>
             </fieldset>
           </div>


      {{ govukButton({
        text: "Continue"
      }) }}


      </form>

{% endblock %}
